@use "../../styles/variables" as v;

.heading {
  text-align: center;
  font-size: clamp(1.9rem, 3vw, 2.4rem);
  font-weight: v.$fw-bold;
  line-height: 1.22;
  color: v.$color-text-secondary;
}

.left {
  text-align: left;
}
